<h2>My Bookstore</h2>
<form method="GET" action="/list">
<table>
    <tr>
        <td><button type"submit" name="q" value="A" class="btn btn-outline-secondary" style="width:45px;">A</button></td>
        <td><button type"submit" name="q" value="B" class="btn btn-outline-secondary" style="width:45px;">B</button></td>
        <td><button type"submit" name="q" value="C" class="btn btn-outline-secondary" style="width:45px;">C</button></td>
        <td><button type"submit" name="q" value="D" class="btn btn-outline-secondary" style="width:45px;">D</button></td>
        <td><button type"submit" name="q" value="E" class="btn btn-outline-secondary" style="width:45px;">E</button></td>
    </tr>
    <tr>
        <td><button type"submit" name="q" value="F" class="btn btn-outline-secondary" style="width:45px;">F</button></td>
        <td><button type"submit" name="q" value="G" class="btn btn-outline-secondary" style="width:45px;">G</button></td>
        <td><button type"submit" name="q" value="H" class="btn btn-outline-secondary" style="width:45px;">H</button></td>
        <td><button type"submit" name="q" value="I" class="btn btn-outline-secondary" style="width:45px;">I</button></td>
        <td><button type"submit" name="q" value="J" class="btn btn-outline-secondary" style="width:45px;">J</button></td>
    </tr>
    <tr>
        <td><button type"submit" name="q" value="K" class="btn btn-outline-secondary" style="width:45px;">K</button></td>
        <td><button type"submit" name="q" value="L" class="btn btn-outline-secondary" style="width:45px;">L</button></td>
        <td><button type"submit" name="q" value="M" class="btn btn-outline-secondary" style="width:45px;">M</button></td>
        <td><button type"submit" name="q" value="N" class="btn btn-outline-secondary" style="width:45px;">N</button></td>
        <td><button type"submit" name="q" value="O" class="btn btn-outline-secondary" style="width:45px;">O</button></td>
    </tr>
    <tr>
        <td><button type"submit" name="q" value="P" class="btn btn-outline-secondary" style="width:45px;">P</button></td>
        <td><button type"submit" name="q" value="Q" class="btn btn-outline-secondary" style="width:45px;">Q</button></td>
        <td><button type"submit" name="q" value="R" class="btn btn-outline-secondary" style="width:45px;">R</button></td>
        <td><button type"submit" name="q" value="S" class="btn btn-outline-secondary" style="width:45px;">S</button></td>
        <td><button type"submit" name="q" value="T" class="btn btn-outline-secondary" style="width:45px;">T</button></td>
    </tr>
    <tr>
        <td><button type"submit" name="q" value="U" class="btn btn-outline-secondary" style="width:45px;">U</button></td>
        <td><button type"submit" name="q" value="V" class="btn btn-outline-secondary" style="width:45px;">V</button></td>
        <td><button type"submit" name="q" value="W" class="btn btn-outline-secondary" style="width:45px;">W</button></td>
        <td><button type"submit" name="q" value="X" class="btn btn-outline-secondary" style="width:45px;">X</button></td>
        <td><button type"submit" name="q" value="Y" class="btn btn-outline-secondary" style="width:45px;">Y</button></td>
    </tr>
    <tr>
        <td><button type"submit" name="q" value="Z" class="btn btn-outline-secondary" style="width:45px;">Z</button></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><button type"submit" name="q" value="0" class="btn btn-outline-dark" style="width:45px;">0</button></td>
        <td><button type"submit" name="q" value="1" class="btn btn-outline-dark" style="width:45px;">1</button></td>
        <td><button type"submit" name="q" value="2" class="btn btn-outline-dark" style="width:45px;">2</button></td>
        <td><button type"submit" name="q" value="3" class="btn btn-outline-dark" style="width:45px;">3</button></td>
        <td><button type"submit" name="q" value="4" class="btn btn-outline-dark" style="width:45px;">4</button></td>
    </tr>
    <tr>
        <td><button type"submit" name="q" value="5" class="btn btn-outline-dark" style="width:45px;">5</button></td>
        <td><button type"submit" name="q" value="6" class="btn btn-outline-dark" style="width:45px;">6</button></td>
        <td><button type"submit" name="q" value="7" class="btn btn-outline-dark" style="width:45px;">7</button></td>
        <td><button type"submit" name="q" value="8" class="btn btn-outline-dark" style="width:45px;">8</button></td>
        <td><button type"submit" name="q" value="9" class="btn btn-outline-dark" style="width:45px;">9</button></td>
    </tr>
</table>
</form>